.notification-banner {
  background: var(--tertiary-low);
  color: var(--primary);
  z-index: 2;
  margin-bottom: 1rem;

  &.above-site-header,
  &.below-site-header {
    margin-bottom: 0;
  }

  &__wrapper {
    padding: 0;
  }

  &__close {
    float: right;
    display: flex;
  }

  &__header {
    margin-bottom: 0;
  }

  &__content {
    padding: 1rem;
    min-height: 3rem;
  }
}

.splide {
  margin-bottom: 1rem;

  .notification-banner {
    margin-bottom: 0;
  }

  &.above-site-header,
  &.below-site-header {
    margin-bottom: 0;
  }

  .notification-banner__close {
    display: none;
  }
}
