.notification-banner {
  background: var(--tertiary-low);
  color: var(--primary);
  z-index: 2;
  margin-bottom: 1em;
  max-height: 20vh;
  overflow: auto;

  &.above-site-header,
  &.below-site-header {
    margin-bottom: 0;
  }

  &__wrapper {
    padding: 0;
  }
  &__close {
    float: right;
    display: flex;
  }
  &__header {
  }
  &__content {
    padding: 1em;
  }
}

.splide {
  margin-bottom: 1em;

  .notification-banner {
    margin-bottom: 0;
  }

  &.above-site-header,
  &.below-site-header {
    margin-bottom: 0;
  }

  .notification-banner__close {
    display: none;
  }
}
